<!doctype html>
<html lang="is">

<head>
  <meta charset="utf-8">
  <title><%= locals.title ?? '' %> — Spurningavefurinn</title>
  <link rel="stylesheet" href="../../styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <main>

    <header>
      <h1><%= locals.title ?? '' %></h1>

      <ul>
        <li><a href="/">Forsíða</a></li>
        <li><a href="/form">Senda inn spurningu</a></li>
      </ul>
    </header>

    <section>
      <h2>Spurningar fyrir flokkið</h2>
      
      <% if (questions.length === 0) { %>
        <p>Engar spurningar fundust fyrir þennan flokk.</p>
      <% } else { %>
        <form method="post" action="/spurningar/answer">
          <% questions.forEach((question) => { %>
            <div class="question">
              <h3><%= question.question %></h3>
              <% question.answers.forEach((answer, index) => { %>
                <div class="answer-option">
                    <input 
                    type="radio" 
                    name="selectedAnswers[<%= question.id %>]" 
                    id="q<%= question.id %>_a<%= index %>" 
                    value="<%= index %>">
                  <label for="q<%= question.id %>_a<%= index %>"><%= answer.answer %></label>
                </div>
              <% }); %>
            </div>
          <% }); %>
          <button type="submit" class="btn">Senda svar</button>
        </form>
      <% } %>
      
      <a href="/">Til baka</a>
    </section>
    
    <%- include('footer') -%>
    