<!doctype html>
<html lang="is">

<head>
  <meta charset="utf-8">
  <title><%= locals.title ?? '' %> — Spurningavefurinn</title>
  <link rel="stylesheet" href="../../styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <main>

    <header>
      <h1><%= locals.title ?? '' %></h1>

      <ul>
        <li><a href="/">Forsíða</a></li>
        <li><a href="/form">Senda inn spurningu</a></li>
      </ul>
</header>

<section>
  <h2>Niðurstaða Svara</h2>
  <p><%= message %></p>
  <p>You got <%= correctCount %> out of <%= total %> questions correct.</p>
  <a href="/">Til baka</a>
</section>

<%- include('footer') -%>
